@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 9%; /* Darker background by default */
    --foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
  }
}

body {
  background-color: theme('colors.gray.950');
  color: theme('colors.gray.100');
}
